<div class="redactor-container">
  <h1>Redactor Panel</h1>
  <div>
    <div class="post-list">
      @for (post of posts; track post.id) {
      <div>
        <div class="post-item">
          <h2>{{ post.title }}</h2>
          <p><strong>Content:</strong><br />{{ post.content }}</p>
          <p><strong>Author:</strong> {{ post.author }}</p>
          <p><strong>Category:</strong> {{ post.category }}</p>
          <div class="actions">
            <button class="approve-btn" (click)="approvePost(post.id!)">
              Approve
            </button>
            <button class="reject-btn" (click)="showRejectForm(post.id!)">
              Reject
            </button>
          </div>
          @if (rejectingPostId === post.id) {
          <div>
            <div class="reject-form">
              <textarea [(ngModel)]="rejectionReason" placeholder="Enter the reason for rejection" ></textarea>
              <button (click)="rejectPost(post.id!)">Submit</button>
              <button (click)="cancelRejection()">Cancel</button>
            </div>
          </div>
          }
        </div>
      </div>
      }
    </div>
  </div>
  @if (posts.length === 0) {
    <div>
      <div class="no-posts-message">No posts are available for review.</div>
    </div>
  }
  
</div>
