<div class="login-container">
  <div class="login-card">
    <h2>Welkom !</h2>
    <p>Log in om door te gaan</p>
    <form (submit)="login()">
      <div class="form-group">
        <label for="username">Gebruikersnaam</label>
        @if (username =="") {
        <p class="error">Gebruikersnaam is verplicht</p>
        }
        <input
          type="text"
          id="username"
          [(ngModel)]="username"
          name="username"
          placeholder="Voer je gebruikersnaam in"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Wachtwoord</label>
        @if (password =="") {
        <p class="error">Wachtwoord is verplicht</p>
        }
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Voer je wachtwoord in"
          required
        />
      </div>
      <button type="submit" class="btn">Inloggen</button>
    </form>
    @if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
    }
  </div>
</div>
