<div [ngClass]="{'border-yellow': post.state === State.CONCEPT, 'border-green': post.state !== State.SUBMITTED}"
     class="post-card">
  <div class="post-content">
    <h2 class="post-title">{{ post.title }}</h2>
    <p class="post-details">
      <strong>Created at:</strong> {{ post.createdAt | date: 'dd/MM/yyyy' }}
    </p>
    <p class="post-details">
      <strong>Updated at:</strong> {{ post.updatedAt | date: 'dd/MM/yyyy' }}
    </p>
    <p class="post-details">
      <strong>Author:</strong> {{ authorName }}
    </p>
    <p class="post-details">
      <strong>Category:</strong> {{ post.category }}
    </p>
    <button [routerLink]="['/post/', post.id]" routerLinkActive="router-link-active" class="details-button">
      Details
    </button>
    <button *ngIf="showReviewsButton" (click)="onViewReviews()" class="view-reviews-button">
      View Reviews
    </button>
  </div>
</div>
