<div class="navbar-left">
  <ul class="navbar-links">
    @if (!isLoggedIn()) {
    <li><a [routerLink]="['/']">Login</a></li>
    } @else if(isRedacteur()) {
    <li><a [routerLink]="['/home']">Home</a></li>

    <li class="dropdown">
      <a class="dropbtn"> <i class="fa fa-list"></i> All Posts </a>
      <div class="dropdown-content">
        <a [routerLink]="['/add']">Add post</a>
        <a [routerLink]="['/concept/posts']">Concept posts</a>
        <a [routerLink]="['/approved/posts']">Approved posts</a>
        <a [routerLink]="['/rejected/posts']">Rejected posts</a>
        <a [routerLink]="['/review/posts']">Review check</a>
        <a [routerLink]="['/published/posts']">Published posts</a>
      </div>
    </li>
    } @else {
    <li><a [routerLink]="['/home']">Home</a></li>
    <li class="dropdown">
      <a class="dropbtn"> <i class="fa fa-list"></i> All Posts </a>
      <div class="dropdown-content">
        <a [routerLink]="['/add']">Add post</a>
        <a [routerLink]="['/concept/posts']">Concept posts</a>
        <a [routerLink]="['/approved/posts']">Approved posts</a>
        <a [routerLink]="['/rejected/posts']">Rejected posts</a>
        <a [routerLink]="['/published/posts']">Published posts</a>
      </div>
    </li>
    }
  </ul>
</div>

@if (isLoggedIn()) {
<div class="navbar-right">
  <button (click)="logout()" class="logout-btn">
    <i class="fa fa-sign-out"></i> Log out
  </button>
</div>
}
