<div>
  <div class="posts-container">
    <app-filter (filterChanged)="handleFilter($event)"></app-filter>
    <div class="posts-section">
      <h1>Rejected Posts</h1>
      <div class="posts-grid">
        @for (post of rejectedPosts; track post.id) {
        <app-post-item
          [post]="post"
          [showReviewsButton]="true"
          (viewReviews)="getReviewsForPost($event)"
        ></app-post-item>
        }
      </div>

      @if (rejectedPosts.length === 0) {
      <div class="empty-message">No rejected posts available.</div>
      } @if (rejectedPosts.length > 0) {
      <div class="reviews-section">
        <h4>Reviews:</h4>
        <div class="reviews-container">
          @for (review of reviews; track review.id) {
          <div class="review-card"> 
            <div class="review-content">
              <p class="review-text">"{{ review.reason }}"</p>
            </div>
            <div class="review-footer">
              <small class="review-author"
                >Reviewer: {{ review.reviewer }}</small
              >
            </div>
          </div>
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
